{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}User {{ user.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for paste in pastes %}
        <a href="{{ url_for('pastes.view', id=paste._id) }}">{{ paste._id }}</a>
        <br />
    {% endfor %}
{% endblock %}