{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit {{ paste._id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <input type="submit" value="Edit" />
        <br /><br />
        <textarea id="pasteContent" name="pasteContent" class="pasteContent" required="true" autofocus="true">{{ paste.content }}</textarea>
    </form>
{% endblock %}