{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create paste{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <input type="submit" value="Create paste" />
        <br /><br />
        <textarea id="content" name="content" class="pasteContent" required="true" autofocus="true"></textarea>
    </form>
{% endblock %}