{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Paste {{ paste._id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article style="display: flex;">
        {% if g.user['_id'] == paste['user'] %}
            <form action="{{ url_for('pastes.delete', id=paste['_id']) }}" method="POST">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
            <a href="{{ url_for('pastes.edit', id=paste['_id']) }}"><button>Edit</button></a>
        {% endif %}
        <a href="{{ url_for('pastes.raw', id=paste['_id']) }}"><button>Raw</button></a>
    </article>
    <hr />
    <pre>{{ paste.content }}</pre>
{% endblock %}