<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - OPaste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {% if config.HCAPTHA_ENABLED %}
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
    {% endif %}
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}"><h1>OPaste</h1></a>
        <ul>
            {% if g.user %}
                <li><span>{{ g.user['name'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr />
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    <hr />
    <footer>
        <a href="https://gitlab.com/grzesiek11/opaste" target="_blank">OPaste on GitLab</a>
        <br />
        Created by <a href="https://grzesiek11.stary.pc.pl" target="_blank">Grzesiek11</a>
    </footer>
</body>