{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="name">Username</label>
        <input name="name" id="name" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        {% if config.HCAPTHA_ENABLED %}
            <div class="h-captcha" data-sitekey="{{ config.HCAPTHA_SITEKEY }}"></div>
        {% endif %}
        <input type="submit" value="Register" />
    </form>
{% endblock %}